.container {
  height: 1000px;
  width: 100%;
  background-color: #202020;
  position: relative;
}

.Header {
  width: 100%;
  height: 64px;
  background-color: white;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.leftHeader {
  padding-left: 73px;
}
.rightHeader {
  color: #fdba2f;
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding-right: 73px;
}
.hand {
  position: absolute;
  left: 0;
  top: 280px;
  height: 40px;
  width: 40px;
}
.hand1 {
  height: 450px;
  width: 450px;
}
.HandCrown {
  position: absolute;
  right: 360px;
  top: 0;
  height: 40px;
  width: 40px;
  z-index: 10;
}
.HandCrown1 {
  height: 400;
  width: 400px;
}
.s {
  position: absolute;
  left: -110px;
  top: 210px;
  height: 40px;
  width: 40px;
}
.s1 {
  height: 500px;
  width: 600px;
}
.sr {
  position: absolute;
  right: 360px;
  top: 100px;
  height: 40px;
  width: 40px;
}
.sr1 {
  height: 400px;
  width: 400px;
}
.title {
  width: 654px;
  height: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 45px;
  color: white;
  margin-left: 76px;
  padding-top: 40px;
}
.subtitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;

  color: #ece9e9;
  margin-top: 80px;
  margin-left: 76px;
  z-index: 10;
}
.subTobe {
  display: flex;
  /* justify-content: flex-end; */
  color: white;
  margin-top: 170px;
  padding-right: 150px;
  padding-left: 450px;
  font-style: bold;
  font-weight: 400;
  font-size: 40px;
}
.subTobe1 {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;

  width: 500px;
  letter-spacing: 0.03em;

  color: #f2f2f2;

  padding-left: 450px;
}
.bottom {
  display: flex;
  justify-content: space-between;
  color: white;

  margin-top: 150px;
  margin-left: 80px;
  margin-right: 80px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  padding-bottom: 50px;
}
.pluseIcon {
  color: #fdba2f;
}
